body { 

    background-image: url(pantalla3.jpg);
    background-repeat: no-repeat;
    background-position: center center; /*centrar la imagen*/
    background-attachment: fixed; /*imagen fija en una sola posicion*/
    background-size: cover; /*sombreado en la imagen*/
    text-align: center;


}

h1, h4, h2, strong, footer{

    color: rgba(241, 206, 9, 0.856);
    -webkit-text-stroke: 0.5px rgb(0, 174, 255);
    font-size: 20px;
} 
button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 18%;
    background: transparent;
    color: white;

}

button:hover {
    background-color:#F56217; /* Green */
    

}

textarea{
    background-color: rgba(255, 0, 43, 0.445) /*rgba(245, 229, 11, 0.185)*/;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 15px;
    border-color: yellowgreen;
    
}