body { 

    background-color: background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-position: center center; /*centrar la imagen*/
    background-attachment: fixed; /*imagen fija en una sola posicion*/
    background-size: cover; /*sombreado en la imagen*/
    text-align: center;


}

h1, h4, h2, strong, footer{

    color: # ece7e1;
    font-size: 20px;
} 
button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 18%;
    background: transparent;
    color: white;

}

button:hover {
    background-color:black; /* Green */
    

}

textarea{
background-color: background: #485563;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
text-align: center;
font-family: helvetica;
font-size: 15px;border-radius: 15px; border-color: yellowgreen;
padding-top: 8px;
    
}
footer {
padding-top: 20px;
}
    
